.multi-range-slider {
    width: 100%;
    border: 0 !important;
    box-shadow: none !important;
    padding: 0 !important;
}

.multi-range-slider .label {
    margin-top: 3px !important;
}

.multi-range-slider .bar .bar-inner {
    background: #24242c;
}

.multi-range-slider .thumb::before {
    box-shadow: none;
}

.multi-range-slider .bar-left {
    background: #ffffff;
}

.multi-range-slider .bar-right {
    background: #ffffff;
}

.multi-range-slider .thumb * {
    background: #24242c !important;
    box-shadow: none !important;
}